.site, .panel-section {
  padding: 0;
}

.wrapper {
  display: grid;
  grid: 1fr/ 1fr 400px;
}

.panel-section {
  overflow: initial;
}

.side-panel {
  background: #fff0f5;
  height: 100vh;
  position: sticky;
  top: 0;
}